---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout class="bg-secondary">
	<div class="container mx-auto px-4 py-12">
	  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
		<div class="flex flex-col items-start md:pl-12">
		  <h1 class="text-6xl md:text-9xl font-bold font-sans text-accent">Stanley Balakai</h1>
		  <h2 class="text-3xl text-accent">Full-Stack Software Developer</h2>
		</div>
  
	</div>
</div>
<div class="container mx-auto px-4 py-12">
	<div class="ABC mx-auto max-w-4xl">
  
	  <div class="relative group">
		<div class="relative flex items-center py-4 leading-none bg-secondary divide-x divide-gray-600 rounded-lg px-7 z-10">
		  <div class="w-full">
			<div class="px-4">
			  <h2 class="text-4xl font-bold text-primary">About Me</h2>
			  <p class="text-2xl text-primary">I am a junior software developer with a passion for learning new technologies and building applications. I am currently studying at the University of Cape Town and am looking for a full-time position as a software developer I am a junior software developer with a passion for learning new technologies and building applications. word weod .</p>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  
  </div>

  <div class="container mx-auto px-4 py-12">
	<div class="ABC mx-auto max-w-3xl">
  
	  <div class="relative group">
		<div class="relative flex items-center py-4 leading-none bg-secondary divide-x divide-gray-600 rounded-lg px-7 z-10">
		  <div class="w-full">
			<div class="px-4">
			  <h2 class="text-4xl font-bold text-primary">About Me</h2>
			  <p class="text-2xl text-primary">I am a junior software developer with a passion for learning new technologies and building applications. I am currently studying at the University of Cape Town and am looking for a full-time position as a software developer I am a junior software developer with a passion for learning new technologies and building applications. word weod .</p>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  
  </div>

  <Card  />
  
  
  </Layout>
  

  <style>
	.group::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to right, #AFD34D, #91A1BF);
  filter: blur(10px);
  opacity: 0.5;
  transition: opacity 0.5s;
  border-radius: inherit;
  z-index: -1;
}

.group:hover::before {
  opacity: 1;
}

  </style>
  
  
  
  
  
  


  
  