---

---

	<body class="bg-primary border-4">
		<div class="container mx-auto py-8  rounded-lg">
		  <div class="card bg-primary shadow-lg rounded-lg overflow-hidden border-4 border-accent">
			<slot />
		  </div>
		</div>
	  </body>

<style>
	.container {
	max-width: 400px;
	}
	  
	.card {
	transition: transform 0.3s;
	}
	  
	.card:hover {
	transform: translateY(-0.5rem);
	}
	  
	.shadow-lg {
	border-color: #AFD34D;	
	}
</style>
	  
<script>
    // Store the scroll position before navigating to a new page
    window.addEventListener('beforeunload', function () {
      sessionStorage.setItem('scrollPos', window.scrollY.toString());
    });
  
    // Function to handle the "Go Back" button click
    function goBack() {
      history.back();
    }
  
    window.addEventListener('DOMContentLoaded', function () {
      const scrollPos = sessionStorage.getItem('scrollPos');
      if (scrollPos) {
        window.scrollTo(0, parseInt(scrollPos, 10));
      }
    });
  </script>