---
// Import any necessary dependencies here
---

<div class="contact text-center">
  <div class="contact-grid">
    <div class="mb-2 flex items-center justify-center">
      <i class="fas fa-envelope text-primary"></i><strong>Email:</strong> <a href="mailto:stanleybalakai@gmail.com" class="text-primary hover:text-accent ml-1">stanleybalakai@gmail.com</a>
    </div>
    <div class="mb-2 flex items-center justify-center">
      <i class="fab fa-linkedin text-primary"></i><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/stanley-balakai/" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-accent ml-1">Stanley Balakai</a>
    </div>
    <div class="mb-2 flex items-center justify-center">
      <i class="fab fa-github text-primary"></i><strong>GitHub:</strong> <a href="https://github.com/stanley-balakai" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-accent ml-1">stanley-balakai</a>
    </div>
    <div class="mb-2 flex items-center justify-center">
      <i class="fas fa-phone text-primary"></i><strong>Phone:</strong> <a href="tel:+14168908045" class="text-primary hover:text-accent ml-1">+1 (416) 890-8045</a>
    </div>
    <div class="mb-2 flex items-center justify-center">
      <i class="fas fa-file-pdf text-primary"></i><strong>Resume:</strong> <a href="../public/resume-copy.pdf" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-accent ml-1">View Resume</a>
    </div>
  </div>
</div>









<style>
.contact {
  align-content: left;
}

.contact-list {
  list-style-type: none;
  padding: 0;
}

.contact-list li {
  margin-bottom: 1rem;
}

.contact {
  align-content: left;
}

.contact-grid {
  display: grid;
  gap: 1rem;
}

.contact-grid div {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  align-items: center;
  justify-items: start;
}

</style>

  
  