---
import Header from '../components/Header.astro';
// import 'tailwindcss/tailwind.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stanley Balakai</title>
  <link rel="stylesheet" href="/tailwind.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/A2Uz6prD09zamm3ENN2x8W6e7ADR6D+P7j4z6j" crossorigin="anonymous">

</head>
<body class="bg-secondary">
  <Header />
  
  <main class="pt-20">
    <slot />
  </main>
  
</body>
</html>


