---
import Header from '../components/Header.astro';
// import 'tailwindcss/tailwind.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stanley Balakai</title>
  <link rel="stylesheet" href="/tailwind.css" />

  
</head>
<body class="bg-secondary">
  <script src="https://kit.fontawesome.com/78f4d86d02.js" crossorigin="anonymous"></script>
  
  <Header class="header" />
  <main class="pt-20">
    <div>
      <slot />
    </div>
  </main>
  
</body>
</html>

<style>
  .header {
  z-index: 100; /* Adjust this value to ensure the header is on top of other elements */
  position: relative;
}

</style>

